.title{
    font-size: 500%;
    /* color:  #323331; */
    color:#465848;
    font-family: sans-serif;
}

img{
  size: 50%;
}

.realtagline{
  color: #959683;
}
.blue{
  background-image: linear-gradient(45deg, #e1ddd4, #d0c9bb);
  position: fixed;
  padding: 5%;
  padding-top: 1%;
}
.tags{
    font-size: 125%; 
    font-family: sans-serif;
    /* color: #444a3f; */
}
a:link{
  color:currentColor;
}
a:visited{
  color:CurrentColor;
}
button{
  align:center;
}
.modal-body{
  background-color:#F1F1F1;
}
.main2{
  background-color:#F1F1F1;
  font-size: 15%;
  text-align: center;
}
.modal-footer{
position: center;
}
